<div class="col-md-12">
	<a ng-click="navigate('expression')">Expression</a> <br />
	<a ng-click="navigate('directive')">Built In Directives</a> <br />
	<a ng-click="navigate('home')">Controllers</a> <br />
	<a ng-click="navigate('filter')">Filters</a> <br />
	<a ng-click="navigate('customDirective')">Custom Directive</a> <br />
	<a ng-click="navigate('customTagDirective')">Tags in Directive</a> <br />
	<a ng-click="navigate('internalService')"> Internal Services</a> <br />
	<a ng-click="navigate('customServices')">Services</a> <br />
	<a ng-click="navigate('endToEnd')">End to End</a> <br />
	<a ng-click="navigate('routing')">Routing</a> <br />
</div>